<!DOCTYPE html>
<html >
<head>
  <title>Artificial EQ Web App</title>
  
<style type="text/css">
  body {font-family: "Arial";
        font-size: 18pt;
        text-align: center;}
  .examples{font-family: "Arial";
            font-size: 12pt;
            text-align: center;}
  .social{font-family: "Arial";
          font-size: 12pt;
          text-align: center;}          
  input{font-size: 18pt;}
  button{font-size: 18pt;}
</style>
</head>

<body>
 <div>
	<h1>Artificial EQ 😎</h1>

  Please enter a comment, then click Predict to see what the emotion is!
  <br>
  <br>
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="comment" placeholder="What a cool guy" required="required" size=60 />
        <button type="submit" >Predict</button>
    </form>

  <br>
  {{ comment_text }}
  <br>
  {{ prediction_text }}
  <br>
  {{ probability }}

 </div>
<br>
 <div class="social">
   <!-- Check out the GitHub repository for this project -->
   <a href="https://github.com/rgkalden/artificial_eq">
     <img src="{{url_for('static', filename='GitHub-Mark-120px-plus.png')}}" alt="GitHub repository link" 
          height="60" width="60" style="vertical-align:middle" >
   </a>
   <br>
   <br>
   <!-- Contact me on LinkedIn -->
   <a href="https://www.linkedin.com/in/rgkalden/">
    <img src="{{url_for('static', filename='LI-In-Bug.png')}}" alt="LinkedIn Profile" 
          height="54" width="63.5" style="vertical-align:middle" >
  </a>
 </div>

 <!--
 <div class="examples">
  <br>
  Examples of comments:
  <ul>
    <li>"This is a super happy comment"</li>
    <li>"What a cool guy"</li>
    <li>"What are you doing?"</li>
  </ul>
 </div>
 -->

 
</body>
</html>