<!DOCTYPE html>
<html >
<head>
  <title>Artificial EQ Web App</title>  
</head>

<body>
 <div>
	<h1>Artificial EQ Web App</h1>

  Please enter a comment, for example "This is a super happy comment", then click Predict to see what the emotion is!
  <br>
  <br>

    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="comment" placeholder="Enter a comment" required="required" />
        <button type="submit" >Predict</button>
    </form>

  <br>
  {{ comment_text }}
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>